html
    head
        title Tweet Fusion
    body
        button(onclick="window.history.back()") Try Another Query
        button(onclick="window.location.reload()") Get More Tweets With These Settings
        for tweet in tweets
            p= tweet