html
    head
        title Tweet Fusion
        script.
            function onload(){
                document.getElementById("submitButton").addEventListener("click", ()=>{
                    var users = document.getElementById("input").value;
                    if(!users.match(/^[\s\n]*$/)){
                        users = users.split(/[\s\n]+/);
                        var N = document.getElementById("N").value;
                        var M = document.getElementById("M").value;
                        var R = document.getElementById("R").value;
                        var query = "/fusion?N=" + N + "&M=" + M + "&R=" + R;
                        for(var i = 0; i < users.length; i++){
                            if(users[i].startsWith("@"))
                                users[i] = users[i].substr(1);
                            query += "&user=" + users[i];
                        }
                        window.location = query;
                    }
                });
            }
    body(onload="onload()")
        h2 Enter some users and generate new tweets that are a mixture of all of them!
        p Type in Twitter screen names separated by spaces
        p i.e. '@user1 @user2 @user3 ...'
        textarea#input
        br
        button#submitButton(type="submit") Submit
        br
        br
        br
        br
        br
        br
        p Special parameters:
        span N-gram size = 
        input#N(type="number" value=3 min=2 max=20)
        br
        span # tweets to generate = 
        input#M(type="number" value=100 min=1 max=10000)
        br
        span # tweets to fetch per user (multiples of 200) = 
        input#R(type="number" value=1 min=1 max=10)